home/.config/zsh/.zsh_sessions
home/.config/zsh/.zsh_history
home/.config/zsh/.zcompcache
home/.config/zsh/.zcompdump
home/.config/zsh/.zcompdump*
home/.config/herdr/plugins/github
home/.config/herdr/config.toml.bak*
home/.config/herdr/herdr-client.log
home/.config/herdr/herdr-server.log
home/.config/herdr/session.json
home/.config/herdr/release-notes.json
.devcontainer
.wt-parent
.wt-tmux-window
